<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDacpacService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63119/DacpacService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDacpacService"
                contract="Services.IDacpacService" name="BasicHttpBinding_IDacpacService" />
        </client>
    </system.serviceModel>
</configuration>